/* .wave-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
}

.curved-line {
  position: absolute;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: var(--ion-color-primary);
  width: 300px;
  height: 300px;
}

.line-1 {
  top: -150px;
  left: -50px;
  opacity: 0.30;
  animation: rotate1 25s infinite linear;
}

.line-2 {
  top: -100px;
  right: -100px;
  width: 350px;
  height: 350px;
  opacity: 0.2;
  animation: rotate2 30s infinite linear reverse;
}

.line-3 {
  bottom: -200px;
  left: 50px;
  width: 250px;
  height: 250px;
  border-top-color: var(--ion-color-secondary);
  opacity: 0.2;
  animation: rotate3 20s infinite linear;
}

@keyframes rotate1 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes rotate2 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes rotate3 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */