/* .quick-action-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quick-icon {
  width: 48px;
  height: 48px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--ion-card-background);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
}

.quick-icon ion-icon {
  font-size: 1.4rem;
}

.quick-label {
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  color: var(--ion-text-color);
}

.icon-primary {
  color: var(--ion-color-primary);
}

.icon-secondary {
  color: var(--ion-color-secondary);
}

.icon-tertiary {
  color: var(--ion-color-tertiary);
}

.icon-success {
  color: var(--ion-color-success);
} */

/* Pulsanti di azione rapida */
/* .quick-actions {
  margin-bottom: var(--app-spacing-lg);
} */